In [19]:
import pandas as pn
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [20]:
df = pn.read_csv ('/Users/ruzanna/Python_pr/1_week/titanic.csv')

In [37]:
#create new table with necessary columns
df = df[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]

In [52]:
#delete data with missing age info
#data_new = data[data.Age.notnull()]

#or use pandas function dropna(axis=0(delets rows with nan)_or_1(delets_columns_with_nan))
clean_df = df.dropna(axis=0)
#replace
d = {'male': 0, 'female': 1}
data = clean_df.replace(d)
#create target variable
target = data['Survived']
data = data.drop('Survived',1)

In [54]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(data, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

In [69]:
imp = clf.feature_importances_

In [94]:
answ = pn.DataFrame({'P': data.columns.values.tolist(), 'I': imp})

In [99]:
#сортировка согласно отсортированным значениям столбца I
answ.groupby('I').apply(lambda d: d.sort_values('I')).reset_index('I',drop=True)

          I       P
0  0.147518  Pclass
2  0.256585     Age
1  0.295385    Fare
3  0.300512     Sex