In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [4]:
data = pd.read_csv('/Users/ruzanna/Python_pr/1_week/titanic.csv', index_col = 'PassengerId')

In [5]:
data[:70]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q
46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S
51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S
52,0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.8000,NaN,S
53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.0,1,0,2926,26.0000,NaN,S
55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.5000,NaN,S
58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,NaN,C
59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S
60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.9000,NaN,S
61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0000,B28,NaN
63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S
64,0,3,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9000,NaN,S
65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.5000,F33,S
68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,NaN,S
69,1,3,"Andersson, Miss. Erna Alexandra",female,17.0,4,2,3101281,7.9250,NaN,S
70,0,3,"Kink, Mr. Vincenz",male,26.0,2,0,315151,8.6625,NaN,S

In [6]:
#number of m and f on board
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [7]:
#% of suvivors
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [8]:
data['Survived'].sum()

342

In [9]:
data.tail(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [10]:
print(len(data['Survived']))

891

In [11]:
m = float (data['Survived'].sum())
p = float (len(data['Survived']))

In [12]:
round ((m*100)/p,2)

38.38

In [13]:
#percentage of 1st class
df = data.loc[data['Pclass'] == 1]
a = float (len(df['Pclass'])) * 100
round (a / p, 2)

24.24

In [14]:
# mean and median of passengers' age
print(round (data['Age'].mean(), 2))
print( round (data['Age'].median(), 2))

29.7
28.0

In [15]:
#try_1 pearson correlation
a = np.random.randint(1, 10, 10)
b = np.random.randint(1, 10, 10)
p = scipy.stats.pearsonr (a,b)
p

(-0.30071351672126539, 0.39851611210281607)

In [16]:
data[['SibSp', 'Parch']];

In [17]:
#pearson correlation
data[['SibSp', 'Parch']].corr(method='pearson', min_periods=1)

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [18]:
#the most popular female name on board
data = pd.read_csv('/Users/ruzanna/Python_pr/1_week/titanic.csv')
df_name = data.loc[data['Sex'] == 'female', 'Name']
#df_name.value_counts()
#df_name.split(',')[1]

In [19]:
names = []
for i in range (0, len(df_name)):
    st = str(df_name.iloc[[i]])
    k = st.split('\n')[0].split('.')[1].split('(')[0].strip()
    for i in range (0,4):
        if ' ' in k:
            head_k = k.split(' ')[0]
            names.append(head_k)
            k = k.split(' ')[1]
        i = i + 1
    names.append(k)

In [20]:
df_n = pd.DataFrame(data = names,columns=['Given_Name'])
df_n['Given_Name'].value_counts()
#William Ð¼ÑƒÐ¶ÑÐºÐ¾Ðµ Ð¸Ð¼Ñ, Ð¿Ð¾ÑÑ‚Ð¾Ð¼Ñƒ Ð½Ðµ ÑÑ‚Ð¾Ð¸Ñ‚ ÐµÐ³Ð¾ ÑƒÑ‡Ð¸Ñ‚Ñ‹Ð²Ð°Ñ‚ÑŒ Ð² Ð´Ð°Ð½Ð½Ð¾Ð¼ ÑÐ»ÑƒÑ‡Ð°Ðµ. ÐŸÑ€Ð¸Ð¼ÐµÑ€ Ð·Ð°ÑˆÑƒÐ¼Ð»ÐµÐ½Ð½Ñ‹Ñ… Ð´Ð°Ð½Ð½Ñ‹Ñ….

              16
William       15
Mary          12
Anna          11
Elizabeth      9
Margaret       8
John           8
Thomas         6
Joseph         6
Helen          6
Sofia          6
Henry          5
Alice          5
Frederick      5
Charles        4
Samuel         4
Katherine      4
Ellen          4
Bertha         4
Edward         4
James          4
Annie          4
Augusta        3
A              3
Catherine      3
Delia          3
Elsie          3
Mabel          3
Marie          3
Albert         3
              ..
Hudson         1
"Fannie"       1
Mari           1
Miriam         1
Velin          1
Percival       1
Fiske          1
Zebley         1
Solomon        1
Heath          1
Norman         1
Maggie         1
Telma          1
Antonine       1
Marguerite     1
Juha           1
Laura          1
Ruth           1
"Lottie"       1
Doolina        1
Parker         1
Rachel         1
Bechstein      1
S              1
Kiamie         1
Alfred         1
Eugenie        1
Pekka          1
Manca          1
Ebba           1
Name: Given_Name, Length: 300, dtype: int64