In [2]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [3]:
data = pd.read_csv('/Users/ruzanna/Python_pr/1_week/titanic.csv', index_col = 'PassengerId')

In [ ]:
#number of m and f on board
data['Sex'].value_counts()

In [7]:
#% of suvivors
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [8]:
data['Survived'].sum()

342

In [9]:
data.tail(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [10]:
print(len(data['Survived']))

891

In [11]:
m = float(data['Survived'].sum())
p = float(len(data['Survived']))

In [12]:
round((m*100)/p,2)

38.38

In [13]:
#percentage of 1st class
df = data.loc[data['Pclass'] == 1]
a = float(len(df['Pclass'])) * 100
round(a / p, 2)

24.24

In [14]:
# mean and median of passengers' age
print(round (data['Age'].mean(), 2))
print( round (data['Age'].median(), 2))

29.7
28.0

In [15]:
#try_1 pearson correlation
a = np.random.randint(1, 10, 10)
b = np.random.randint(1, 10, 10)
p = scipy.stats.pearsonr (a,b)
p

(-0.30071351672126539, 0.39851611210281607)

In [16]:
data[['SibSp', 'Parch']];

In [17]:
#pearson correlation
data[['SibSp', 'Parch']].corr(method='pearson', min_periods=1)

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [18]:
#the most popular female name on board
data = pd.read_csv('/Users/ruzanna/Python_pr/1_week/titanic.csv')
df_name = data.loc[data['Sex'] == 'female', 'Name']
#df_name.value_counts()
#df_name.split(',')[1]

In [19]:
names = []
for i in range (0, len(df_name)):
    st = str(df_name.iloc[[i]])
    k = st.split('\n')[0].split('.')[1].split('(')[0].strip()
    for i in range (0,4):
        if ' ' in k:
            head_k = k.split(' ')[0]
            names.append(head_k)
            k = k.split(' ')[1]
        i = i + 1
    names.append(k)

In [20]:
df_n = pd.DataFrame(data = names,columns=['Given_Name'])
df_n['Given_Name'].value_counts()
#William мужское имя, поэтому не стоит его учитывать в данном случае. Пример зашумленных данных.

              16
William       15
Mary          12
Anna          11
Elizabeth      9
Margaret       8
John           8
Thomas         6
Joseph         6
Helen          6
Sofia          6
Henry          5
Alice          5
Frederick      5
Charles        4
Samuel         4
Katherine      4
Ellen          4
Bertha         4
Edward         4
James          4
Annie          4
Augusta        3
A              3
Catherine      3
Delia          3
Elsie          3
Mabel          3
Marie          3
Albert         3
              ..
Hudson         1
"Fannie"       1
Mari           1
Miriam         1
Velin          1
Percival       1
Fiske          1
Zebley         1
Solomon        1
Heath          1
Norman         1
Maggie         1
Telma          1
Antonine       1
Marguerite     1
Juha           1
Laura          1
Ruth           1
"Lottie"       1
Doolina        1
Parker         1
Rachel         1
Bechstein      1
S              1
Kiamie         1
Alfred         1
Eugenie        1
Pekka          1
Manca          1
Ebba           1
Name: Given_Name, Length: 300, dtype: int64